[MASTER]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    abstract-method,
    line-too-long,
    no-member,
    E1101,
    too-many-instance-attributes,
    too-few-public-methods,
    signature-differs,
    too-many-arguments,
    too-many-locals,
    too-many-branches, # FIXME remove when possible
    fixme,
    duplicate-code, # FIXME remove when apiv1 is retired

load-plugins=pylint_django
django-settings-module=signalstickers.settings.dev
ignore-paths=.*/migrations

good-names =
    i,
    j,
    k,
    ex,
    e,
    _