[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.10"
django-debug-toolbar = "*"
pyyaml = "*"
djangorestframework = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
signalstickers-client = ">=3.0.0"
Pillow = "*"
tweepy = "*"
requests = "*"
bandit = "*"
django-ninja = "==1.1.0"

[dev-packages]
pylint = "*"
pylint-django = "*"
black = "*"
isort = "*"
coverage = "*"

[requires]
python_version = "3.11"

[scripts]
test = "make test"
lint = "make lint"
sec = "make sec"
check = "make check"
