{% extends "admin/base.html" %}
{% load static %}
{% block welcome-msg %}
{% if packs_to_review %}

<form class="to-review-form" method="POST" action="{% url 'admin:core_pack_changelist' %}">
    <input type="hidden" name="action" value="bulk_review_packs">
    <input type="hidden" name="select_across" value="0">
    <input type="hidden" name="index" value="0">
    <input type="hidden" name="_selected_action" value="-1">
    {% csrf_token %}
    <input type="submit" id="to-review-btn"
        value="🔔 {{packs_to_review}} pack{{packs_to_review|pluralize:',s'}} to review">
</form>

{% endif %}

<link rel="stylesheet" type="text/css" href="{% static 'core/admin/admin.css' %}">

{% if debug %}
<link rel="stylesheet" type="text/css" href="{% static 'core/admin/admin_dev.css' %}">
{% else %}
<link rel="stylesheet" type="text/css" href="{% static 'core/admin/admin_prod.css' %}">
{% endif %}



{{ block.super }}

<a href="https://signalstickers.com" target="_blank" rel="noopener">signalstickers.com</a> /

<script src="{% static 'core/admin/chart.min.js' %}"></script>
{% endblock %}