<html>

{% if error %}

{{error}}

{% endif %}



{% if status == "IN_REVIEW" %}

Your pack is still <b>in review</b>. An admin will validate it soon!

{% elif status == "REFUSED" %}

Your pack has been <b>refused</b>.

{% elif status == "ONLINE" %}

The pack is <b>online</b>! You will find it <a href="https://signalstickers.com/pack/{{pack_id}}" target="_blank"
    rel="noopener noreferrer">here</a>.

{% endif %}

{% if status_comments%}
<br><br />
The reviewer added a comment: {{status_comments}}

{% endif %}
<br><br />
<br><br />






<form method="POST">
    {% csrf_token %}
    <input name="packurl" type="text" placeholder="Enter the signal.art url...">
    <input type="submit">
</form>




</html>