{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify %}
{% load static %}


{% block content %}

{{ block.super }}

{% if original.pack_id%}
<link rel="stylesheet" type="text/css" href="{% static 'admin/admin.css' %}">

<h1>Stickers preview</h1>
{% if original.nsfw %}
<div class="pack-nsfw">
   🔞 This pack is NSFW. You've been warned. 🔞
</div>
{% endif %}

<div class="stickers-preview-container">
{% for sticker in original.stickers_preview %}
    <div class="sticker-preview">
        <img src="data:image/png;base64,{{sticker.img}}">
        <div class="sticker-emoji">
            {{sticker.emoji}}
        </div>
    </div>
{% endfor %}
</div>


{% endif %}

{% endblock %}
