.to-review-form {
    display: inline-block;
    margin-right: 10px;
}

.to-review-form #to-review-btn {
    display: inline-block;
    background-color: #c40101;
    color: white;
    padding: 6px 10px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    position: relative;
    top: -2px;
}

.caches-status {
    display: inline-block;
    /* border: 1px solid white; */
    padding: 6px 10px;
    font-size: 12px;
    text-transform: none;
    letter-spacing: normal;
}

#header .caches-status a.caches-dirty {
    color: #ffcc4d;
    font-weight: bold;
    font-size: 14px;
}


.bulkreview-help {
    display: inline-block;
}

.sticker-preview {
    position: relative;
    display: inline-block;
    margin: 6px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

.sticker-preview img {
    max-width: 150px;
    max-height: 150px;
}

.sticker-emoji {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.stickers-preview-container {
    background: #ccc;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
}

.pack-nsfw {
    display: block;
    border: 1px solid #f5c6cb;
    width: auto;
    background-color: #f8d7da;
    margin: 20px 0;
    padding: 40px 0;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;

}

#sticker-preview-link {
    background: #79aec8;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px;
}

#sticker-preview-link:hover {
    background: #609ab6;
}

.graph {
    max-width: 1000px !important;
    max-height: 400px !important;
}

.stats-col {
    display: inline-block;
    margin-right: 40px;
}

.stats-col a:first-of-type {
    margin-right: 10px;
}

#save_approve_btn,
#approve_continue_btn {
    background-color: forestgreen;
}

#refuse_continue_btn,
#refuse_approve_btn {
    background-color: var(--delete-button-bg);
}

/* Loading animation trigger actions */
.loading-group {
    width: 230px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.loading {
    margin-left: 10px;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spinner 2s linear infinite;
}

/* Animation */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media only screen and (max-width: 930px) {
    .stats-col {
        margin-right: 0;
    }
}


@media (min-width: 760px) {
    #nav-sidebar.sticky {
        top: 60px;
    }

    #header {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
        box-sizing: border-box;
    }

    #container {
        padding-top: 49px;
        box-sizing: border-box;
    }
}