{% extends "admin/base.html" %}
{% block welcome-msg %}
    {% if packs_to_review %}
        <style>
        .to-review{
            background-color: #c40101;
            color: white;
            padding: 6px 10px;
            font-weight: bold;
            font-size: 12px;
            border-radius: 4px;
        }
        </style>
        <a href="{% url 'admin:stickers_pack_changelist' %}?status__exact=IN_REVIEW" style="margin-right: 20px;">
            <span class="to-review">🔔 {{packs_to_review}} pack{{packs_to_review|pluralize:",s"}} to review</span>
        </a>
    {% endif %}
{% endblock %}