{% extends "admin/base_site.html" %}

{% load i18n static %}
{% load admin_urls %}

{% block title %}
Trigger actions
{% endblock %}



{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; Trigger actions
</div>
{% endblock %}


{% block content %}



{% if perms.core.invalidate_cloudflare %}
<br />
<hr />
<br />
<h1>Invalidate Cloudflare caches</h1>

<p>
    Invalidate all caches on Cloudflare, and published the content.
</p>

<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="action" value="cloudflareclear">
    <div class="loading-group">
        <input type="submit" value="Clear Cloudflare caches">
        <div></div>
    </div>
</form>
{% endif %}



{{ block.super }}

<script>

    let submitInputs = document.querySelectorAll("input[type=submit]");
    // Add a click event on each submit input
    for (let i = 0; i < submitInputs.length; i++) {
        submitInputs[i].addEventListener("click", (e) => {
            let nextDiv = e.target.nextElementSibling;
            nextDiv.className = "loading";
        });
    }

</script>
{% endblock %}